{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Company Registration</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'css3/montserrat-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts3/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'css3/style.css' %}"/>
</head>
<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="" method="post" id="myform">
				{%csrf_token%}
				<div class="form-left">
					<h2>General Infomation</h2>

					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="cname" id="first_name" class="input-text" placeholder="Company Name" required>
						</div>

					</div>
					<div class="form-row">
						<select name="position">
						    <option value="position" >Shop/cafe</option>
						    <option value="director">Telecom</option>
						    <option value="manager">Web design and development</option>
						    <option value="employee">Ecommerce</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<input type="text area" name="address" class="company" id="company" placeholder="Address" required>
					</div>
					<div class="form-row">
						<input type="text" name="cusername" class="company" id="" placeholder="Username" required>
					</div>
					<div class="form-row">
						<input type="password" name="cpassword" class="company"  placeholder="password" required>
					</div>


				</div>
				<div class="form-right">
					<h2>Contact Details</h2>



					<div class="form-row">
						<select name="state">
						    <option value="state">State</option>
						    <option value="Kerala">Kerala</option>
						    <option value="karnataka">karnataka</option>
						    <option value="Tamilnadu">Tamilnadu</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<select name="city">
						    <option value="city">City</option>
						    <option value="kannur">Kannur</option>
						    <option value="calicut">Calicut</option>
						    <option value="Thrissur">Thrissur</option>
							<option value="kochi">Kochi</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<input type="text" name="phonenbr"  class="input-text"  placeholder="Phone number">
					</div>
					<div class="form-row">
						<input type="email" name="email1" id="your_email" class="input-text"  placeholder="Email">
					</div>
					<div class="form-row">
						<input type="text" name="ainfo" class="additional" id="additional" placeholder="Additional Information" required>
					</div>

					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register ">
					</div>
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>